@import "../base/base";


.wellcome-message {
    display: grid;
    grid-template-areas: 
        'logo'
        'showcase'
        'message'
        'proposal';
    grid-template-columns: 1fr;
    row-gap: 16px;
    margin: 4rem auto 6rem auto;

    @include breakpoint($breakpoint-sm) {
        grid-template-areas: 
        'logo showcase'
        'message showcase'
        'proposal proposal';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px auto auto;
        row-gap: 36px;
        min-height: 520px;
        margin: 4rem auto 6rem auto;
    }

    .logo {
        grid-area: logo;
        align-self: end;
        justify-self: center;
        max-width: 300px;
        width: 100%;

        @include breakpoint($breakpoint-md) {
            width: auto;
        }
    }

    a {
        grid-area: proposal;
        justify-self: center;
        cursor: pointer;
        height: 40px;
        border-radius: 1.5rem;
        border: none;
        outline: none;
        padding: 0 48px;
        align-self: center;
        font-size: 1rem; // 14px
        font-weight: 600;
        line-height: normal;
        color: white;
        background: #F50;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        display: flex;
        align-items: center;
        &:hover {
            background: #df4a00;
        }
    }

    h4 {
        grid-area: message;
        max-width: 500px;
        font-family: Work Sans;
        font-size:  1.8rem; // 32px
        line-height: 141.3%;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.96px;
        text-align: center;
        justify-self: center;

        @include breakpoint($breakpoint-md) {
            font-size: 2rem; // 32px
            line-height: 141.3%;
        }
    }

    .showcase {
        grid-area: showcase;
        max-width: 450px;
        justify-self: center;
        height: auto;
        width: 100%;

        @include breakpoint($breakpoint-sm) {
            height: 520px;
            max-width: auto;
            justify-self: unset;
            width: auto;
        }

    }
}

.video {
    &__wrapper {
        width: 100%; /* Set the desired width */
        padding-top: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100) */
        position: relative; /* To ensure the video is positioned correctly */
        overflow: hidden;
        border-radius: 16px;
        background-color: white;
        position: relative;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    header {
        font-size: 2.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.75rem;
        font-family: var(--primary-font-family);
        text-align: center;
        padding: 16px 0;
    }

    .play {
        position: absolute;
        top: 50%;
        right: 50%;
        background: url('/img/play.svg') no-repeat center center;
        background-size: contain;
        height: 10vmax;
        width: 6vmax;
        max-height: 250px;
        max-width: 160px;
        content: '';
        transform: translateX(50%) translateY(-50%);
    }
}

.features {
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 120px 0 180px 0;
    
    @include breakpoint($breakpoint-sm) {
        padding: 120px 0;
    }

    &::before {
        position: absolute;
        width: 4000px;
        height: 100%;
        left: 40%;
        transform: translateX(-50%);
        content: ' ';
        top: 0;
        z-index: -1;
        background: white;
        -webkit-clip-path: url(#my-clip-path);
        clip-path: url(#my-clip-path);

        @include breakpoint($breakpoint-lg) {
            width: 200vw;
        }
    }

    .feature {
        display: grid;
        grid-template-areas: 
                'title'
                'image'
                'description';
        justify-content: center;
        text-align: center;
        row-gap: 16px;
        column-gap: 80px;
        
        
        &:nth-child(odd) {
            grid-template-areas: 
                'title'
                'image'
                'description';
            justify-content: center;
            text-align: center;

            @include breakpoint($breakpoint-sm) {
                grid-template-areas: 
                    'title image'
                    'description image ';
                > img {
                    justify-self: center;
                }
                > h4 {
                    justify-self: end;
                }
                > p {
                    text-align: right;
                    justify-self: end;
                }
            }
        }


  

        @include breakpoint($breakpoint-sm) {
            grid-template-areas: 
                'image title'
                'image description';
            > img {
                justify-self: end;
                align-self: center;
            }
            > h4 {
                justify-self: start;
                align-self: flex-end;

            }
            > p {
                text-align: left;
                justify-self: start;
            }
        }
        > img {
            grid-area: image;
            width: 100%;
            max-width: 415px;
        }

        > h4 {
            grid-area: title;
        }

        > p {
            grid-area: description;
            max-width: 394px;
            font-size: 1.2rem;
            @include breakpoint($breakpoint-md) {
                font-size: 1rem;
            }
        }
    }
}


.latest-events {
    margin-top: 120px;
}

.slider {
    margin: 32px 0;

    &__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        width: auto;

        @include breakpoint($breakpoint-md) {
            flex-direction: row;
        }
    }

    &__controls {
        display: flex;
        justify-content: center;
        gap: 16px;
    }

    &__control {
        margin-top: 32px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: lightgrey;
        border: none;
        outline: none;
        cursor: pointer;

        &.active {
            background-color: white;
        }
    }
}


.event {
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border-radius: 16px;
    background: url('/img/active-event-bg.svg') no-repeat center center, #FFF;
    box-shadow: 4px 4px 12px 0px rgba(0, 15, 146, 0.17);
    position: relative;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 400px;

    @include breakpoint($breakpoint-md) {
        flex-basis: calc(100vw - 64px);
    }
    

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 8px;
    }

    &__state {
        display: inline-block;
        color: var(--secondary-medium, #F50);
        /* Capitalized */
        font-family: $primary-font-family;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
    }

    &__time {
        display: inline-block;
        border-radius: 16px;
        background: #F3F5FF;
        padding: 8px;
        color: var(--primary-dark, #000F92);
        text-align: center;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__content {
        display: flex;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
        color: #24252C;
        font-family: $secondary-font-family;
        
    }

    &__name {
        font-size: 1.125px; // 18px
        font-style: normal;
        font-weight: 700;
        line-height: 1.1875rem; // 19px
    }

    &__description {
        font-size: 0.875rem; // 14px
        font-style: normal;
        font-weight: 400;
        line-height: 1.1875rem; // 19px
    }

    &__target-label {
        font-size: 0.75rem; // 12px 
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__goal {
        font-size: 0.875rem; // 14px
        font-style: normal;
        font-weight: 700;
        line-height: 1.0625rem; // 17px
    }


    &__additional-info {
        font-size: 0.75rem; // 12px
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__monster {
        flex-basis: 136px;
        flex-grow: 0;
    }
}


.promo {
    margin: 160px 0;
    .logo-container {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 36px 0;

        img {
            max-width: 450px;
            width: 100%;
        }
    }
}
