@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
@import url("https://use.typekit.net/zzx3yey.css");
@use "sass:color";
@use "sass:map";
:root {
  --gradient-landing: linear-gradient(223deg, rgba(253, 253, 255, 0.50) 0%, rgba(193, 199, 244, 0.50) 57.81%, rgba(255, 212, 191, 0.50) 82.93%); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto; }

.no-scroll {
  overflow: hidden; }
  @media (min-width: 768px) {
    .no-scroll {
      overflow: auto;
      overflow-x: hidden; } }

.visible {
  display: initial !important; }

nav {
  height: 80px;
  background-color: white;
  z-index: 10; }

nav:not(.sticky) .logo {
  display: none; }

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  transform-origin: center;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .hamburger {
      display: none;
      position: absolute; } }
  .hamburger .hamburger__line {
    width: 40px;
    height: 4px;
    background-color: gray;
    margin: 4px;
    transition: all 0.3s ease-in-out; }
    .hamburger .hamburger__line:nth-child(1) {
      transform: rotate(0deg) translate(0, 0); }
    .hamburger .hamburger__line:nth-child(2) {
      transform: rotate(0deg) translate(0, 0); }
    .hamburger .hamburger__line:nth-child(3) {
      transform: rotate(0deg) translate(0, 0); }

nav.open .links {
  background-color: white; }
  @media (min-width: 768px) {
    nav.open .links {
      background-color: transparent; } }
  nav.open .links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
    z-index: 9;
    gap: 32px;
    transition: all 0.3s ease-in-out; }
    @media (min-width: 768px) {
      nav.open .links ul {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        flex-direction: row;
        gap: 64px; } }
    nav.open .links ul li {
      width: 100%;
      text-align: center; }
      @media (min-width: 768px) {
        nav.open .links ul li {
          width: auto;
          text-align: left; } }

nav.open .hamburger {
  transform: rotate(90deg); }
  nav.open .hamburger .hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 7px); }
  nav.open .hamburger .hamburger__line:nth-child(2) {
    opacity: 0; }
  nav.open .hamburger .hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -7px); }

.sticky {
  position: sticky;
  top: 0;
  box-shadow: 4px 4px 12px 0px rgba(0, 15, 146, 0.17);
  animation: slide-down 0.5s ease-in-out; }

@keyframes slide-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

.heading-2 {
  font-family: "Apertura", sans-serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; }

.heading-4 {
  font-family: "Apertura", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; }

p {
  /* Body 1 */
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em; }

.text-center {
  text-align: center; }

.primary-text {
  color: #4A5AE9; }

.primary-text-dark {
  color: #000F92; }

.links {
  display: flex;
  align-items: center;
  height: 100%; }
  .links ul {
    margin-left: auto;
    gap: 16px;
    display: none; }
    @media (min-width: 768px) {
      .links ul {
        gap: 32px;
        display: flex; } }
    @media (min-width: 960px) {
      .links ul {
        gap: 64px; } }
    .links ul li a {
      color: var(--backgrounds-white);
      text-decoration: none;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease-in-out; }
      .links ul li a:hover {
        background: var(--backgrounds-white);
        color: var(--backgrounds-dark);
        text-decoration: underline; }
      .links ul li a.active {
        color: #4A5AE9;
        text-decoration: underline; }

footer {
  border-top: 3px solid #F50;
  padding: 32px;
  text-align: center; }
  footer p {
    color: #9F3500;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

main {
  overflow-x: hidden; }

:root {
  --primary-font-family: $primary-font-family;
  --secondary-font-family: $secondary-font-family;
  font-size: 14px; }
  @media (min-width: 960px) {
    :root {
      font-size: 16px; } }

body {
  font-family: "Work Sans", sans-serif;
  background: var(--gradient-landing);
  background-size: cover;
  background-repeat: none; }

.svg-paths {
  position: absolute;
  width: 0;
  height: 0; }

body {
  background: white; }

.contact-wrapper {
  margin-top: 32px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px; }
  @media (min-width: 650px) {
    .contact-wrapper {
      flex-direction: row;
      align-items: start;
      gap: 64px;
      margin-top: 64px; } }

h1 {
  margin-top: 32px;
  color: #000F92;
  font-family: "Apertura", sans-serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  text-align: center; }
  @media (min-width: 768px) {
    h1 {
      font-size: 80px;
      text-align: left; } }
  @media (min-width: 870px) {
    h1 {
      max-width: initial;
      font-size: 90px; } }

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  max-width: 500px; }
  .contact-form__group {
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .contact-form__group label {
      font-family: "Apertura", sans-serif;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400;
      line-height: 1.1875rem; }
    .contact-form__group input {
      height: 40px;
      border-radius: 1.5rem;
      border: 1px solid #939393;
      padding: 0 21px;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5rem; }
    .contact-form__group textarea {
      border-radius: 1.5rem;
      padding: 12px 21px;
      border: 1px solid #939393;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 1.5rem; }
  .contact-form button {
    cursor: pointer;
    height: 40px;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding: 0 36px;
    align-self: center;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: normal;
    color: white;
    background: #F50;
    transition: all 0.3s ease-in-out; }
    .contact-form button:hover {
      background: #df4a00; }

.divider {
  color: #000F92;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 50px 0; }
  .divider span {
    background: white;
    padding: 0 16px; }
  .divider::before {
    z-index: -1;
    top: 60%;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #C1C8FF; }

.direct-contact {
  margin-bottom: 16px; }
  .direct-contact h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
    color: #000F92; }
  .direct-contact .direct-contacts {
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 32px;
    flex-wrap: wrap;
    max-width: 450px;
    justify-items: center;
    margin: 0 auto; }
    @media (min-width: 375px) {
      .direct-contact .direct-contacts {
        justify-content: space-between; } }
    @media (min-width: 870px) {
      .direct-contact .direct-contacts {
        max-width: initial; } }
  .direct-contact .linkedin__link {
    flex: 1;
    max-width: 140px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px; }
    .direct-contact .linkedin__link > img {
      height: 110px; }
    .direct-contact .linkedin__link .link {
      display: flex;
      align-items: flex-start;
      gap: 8px;
      line-height: 1.2em; }
      .direct-contact .linkedin__link .link img {
        margin-top: 0px; }
