@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;700&display=swap");
@import url("https://use.typekit.net/zzx3yey.css");
@use "sass:color";
@use "sass:map";
:root {
  --gradient-landing: linear-gradient(223deg, rgba(253, 253, 255, 0.50) 0%, rgba(193, 199, 244, 0.50) 57.81%, rgba(255, 212, 191, 0.50) 82.93%); }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  max-width: 1200px;
  padding: 0 32px;
  margin: 0 auto; }

.no-scroll {
  overflow: hidden; }
  @media (min-width: 768px) {
    .no-scroll {
      overflow: auto;
      overflow-x: hidden; } }

.visible {
  display: initial !important; }

nav {
  height: 80px;
  background-color: white;
  z-index: 10; }

nav:not(.sticky) .logo {
  display: none; }

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  cursor: pointer;
  z-index: 10;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
  transform-origin: center;
  margin-left: auto;
  margin-top: 16px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .hamburger {
      display: none;
      position: absolute; } }
  .hamburger .hamburger__line {
    width: 40px;
    height: 4px;
    background-color: gray;
    margin: 4px;
    transition: all 0.3s ease-in-out; }
    .hamburger .hamburger__line:nth-child(1) {
      transform: rotate(0deg) translate(0, 0); }
    .hamburger .hamburger__line:nth-child(2) {
      transform: rotate(0deg) translate(0, 0); }
    .hamburger .hamburger__line:nth-child(3) {
      transform: rotate(0deg) translate(0, 0); }

nav.open .links {
  background-color: white; }
  @media (min-width: 768px) {
    nav.open .links {
      background-color: transparent; } }
  nav.open .links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: white;
    z-index: 9;
    gap: 32px;
    transition: all 0.3s ease-in-out; }
    @media (min-width: 768px) {
      nav.open .links ul {
        position: relative;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: transparent;
        padding: 0;
        flex-direction: row;
        gap: 64px; } }
    nav.open .links ul li {
      width: 100%;
      text-align: center; }
      @media (min-width: 768px) {
        nav.open .links ul li {
          width: auto;
          text-align: left; } }

nav.open .hamburger {
  transform: rotate(90deg); }
  nav.open .hamburger .hamburger__line:nth-child(1) {
    transform: rotate(45deg) translate(10px, 7px); }
  nav.open .hamburger .hamburger__line:nth-child(2) {
    opacity: 0; }
  nav.open .hamburger .hamburger__line:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -7px); }

.sticky {
  position: sticky;
  top: 0;
  box-shadow: 4px 4px 12px 0px rgba(0, 15, 146, 0.17);
  animation: slide-down 0.5s ease-in-out; }

@keyframes slide-down {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0); } }

.heading-2 {
  font-family: "Apertura", sans-serif;
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem; }

.heading-4 {
  font-family: "Apertura", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem; }

p {
  /* Body 1 */
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875em; }

.text-center {
  text-align: center; }

.primary-text {
  color: #4A5AE9; }

.primary-text-dark {
  color: #000F92; }

.links {
  display: flex;
  align-items: center;
  height: 100%; }
  .links ul {
    margin-left: auto;
    gap: 16px;
    display: none; }
    @media (min-width: 768px) {
      .links ul {
        gap: 32px;
        display: flex; } }
    @media (min-width: 960px) {
      .links ul {
        gap: 64px; } }
    .links ul li a {
      color: var(--backgrounds-white);
      text-decoration: none;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      transition: all 0.3s ease-in-out; }
      .links ul li a:hover {
        background: var(--backgrounds-white);
        color: var(--backgrounds-dark);
        text-decoration: underline; }
      .links ul li a.active {
        color: #4A5AE9;
        text-decoration: underline; }

footer {
  border-top: 3px solid #F50;
  padding: 32px;
  text-align: center; }
  footer p {
    color: #9F3500;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }

main {
  overflow-x: hidden; }

:root {
  --primary-font-family: $primary-font-family;
  --secondary-font-family: $secondary-font-family;
  font-size: 14px; }
  @media (min-width: 960px) {
    :root {
      font-size: 16px; } }

body {
  font-family: "Work Sans", sans-serif;
  background: var(--gradient-landing);
  background-size: cover;
  background-repeat: none; }

.svg-paths {
  position: absolute;
  width: 0;
  height: 0; }

.wellcome-message {
  display: grid;
  grid-template-areas: 'logo' 'showcase' 'message' 'proposal';
  grid-template-columns: 1fr;
  row-gap: 16px;
  margin: 4rem auto 6rem auto; }
  @media (min-width: 768px) {
    .wellcome-message {
      grid-template-areas: 'logo showcase' 'message showcase' 'proposal proposal';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 200px auto auto;
      row-gap: 36px;
      min-height: 520px;
      margin: 4rem auto 6rem auto; } }
  .wellcome-message .logo {
    grid-area: logo;
    align-self: end;
    justify-self: center;
    max-width: 300px;
    width: 100%; }
    @media (min-width: 960px) {
      .wellcome-message .logo {
        width: auto; } }
  .wellcome-message a {
    grid-area: proposal;
    justify-self: center;
    cursor: pointer;
    height: 40px;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    padding: 0 48px;
    align-self: center;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    color: white;
    background: #F50;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center; }
    .wellcome-message a:hover {
      background: #df4a00; }
  .wellcome-message h4 {
    grid-area: message;
    max-width: 500px;
    font-family: Work Sans;
    font-size: 1.8rem;
    line-height: 141.3%;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.96px;
    text-align: center;
    justify-self: center; }
    @media (min-width: 960px) {
      .wellcome-message h4 {
        font-size: 2rem;
        line-height: 141.3%; } }
  .wellcome-message .showcase {
    grid-area: showcase;
    max-width: 450px;
    justify-self: center;
    height: auto;
    width: 100%; }
    @media (min-width: 768px) {
      .wellcome-message .showcase {
        height: 520px;
        max-width: auto;
        justify-self: unset;
        width: auto; } }

.video__wrapper {
  width: 100%;
  /* Set the desired width */
  padding-top: 56.25%;
  /* 16:9 aspect ratio (9 / 16 * 100) */
  position: relative;
  /* To ensure the video is positioned correctly */
  overflow: hidden;
  border-radius: 16px;
  background-color: white;
  position: relative; }
  .video__wrapper iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0; }

.video header {
  font-size: 2.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.75rem;
  font-family: var(--primary-font-family);
  text-align: center;
  padding: 16px 0; }

.video .play {
  position: absolute;
  top: 50%;
  right: 50%;
  background: url("/img/play.svg") no-repeat center center;
  background-size: contain;
  height: 10vmax;
  width: 6vmax;
  max-height: 250px;
  max-width: 160px;
  content: '';
  transform: translateX(50%) translateY(-50%); }

.features {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 120px 0 180px 0; }
  @media (min-width: 768px) {
    .features {
      padding: 120px 0; } }
  .features::before {
    position: absolute;
    width: 4000px;
    height: 100%;
    left: 40%;
    transform: translateX(-50%);
    content: ' ';
    top: 0;
    z-index: -1;
    background: white;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path); }
    @media (min-width: 1280px) {
      .features::before {
        width: 200vw; } }
  .features .feature {
    display: grid;
    grid-template-areas: 'title' 'image' 'description';
    justify-content: center;
    text-align: center;
    row-gap: 16px;
    column-gap: 80px; }
    .features .feature:nth-child(odd) {
      grid-template-areas: 'title' 'image' 'description';
      justify-content: center;
      text-align: center; }
      @media (min-width: 768px) {
        .features .feature:nth-child(odd) {
          grid-template-areas: 'title image' 'description image '; }
          .features .feature:nth-child(odd) > img {
            justify-self: center; }
          .features .feature:nth-child(odd) > h4 {
            justify-self: end; }
          .features .feature:nth-child(odd) > p {
            text-align: right;
            justify-self: end; } }
    @media (min-width: 768px) {
      .features .feature {
        grid-template-areas: 'image title' 'image description'; }
        .features .feature > img {
          justify-self: end;
          align-self: center; }
        .features .feature > h4 {
          justify-self: start;
          align-self: flex-end; }
        .features .feature > p {
          text-align: left;
          justify-self: start; } }
    .features .feature > img {
      grid-area: image;
      width: 100%;
      max-width: 415px; }
    .features .feature > h4 {
      grid-area: title; }
    .features .feature > p {
      grid-area: description;
      max-width: 394px;
      font-size: 1.2rem; }
      @media (min-width: 960px) {
        .features .feature > p {
          font-size: 1rem; } }

.latest-events {
  margin-top: 120px; }

.slider {
  margin: 32px 0; }
  .slider__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: auto; }
    @media (min-width: 960px) {
      .slider__list {
        flex-direction: row; } }
  .slider__controls {
    display: flex;
    justify-content: center;
    gap: 16px; }
  .slider__control {
    margin-top: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: lightgrey;
    border: none;
    outline: none;
    cursor: pointer; }
    .slider__control.active {
      background-color: white; }

.event {
  box-sizing: border-box;
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  border-radius: 16px;
  background: url("/img/active-event-bg.svg") no-repeat center center, #FFF;
  box-shadow: 4px 4px 12px 0px rgba(0, 15, 146, 0.17);
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 400px; }
  @media (min-width: 960px) {
    .event {
      flex-basis: calc(100vw - 64px); } }
  .event__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 8px; }
  .event__state {
    display: inline-block;
    color: var(--secondary-medium, #F50);
    /* Capitalized */
    font-family: "Apertura", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase; }
  .event__time {
    display: inline-block;
    border-radius: 16px;
    background: #F3F5FF;
    padding: 8px;
    color: var(--primary-dark, #000F92);
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; }
  .event__content {
    display: flex; }
  .event__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
    align-self: stretch;
    color: #24252C;
    font-family: "Work Sans", sans-serif; }
  .event__name {
    font-size: 1.125px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1875rem; }
  .event__description {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1875rem; }
  .event__target-label {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .event__goal {
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.0625rem; }
  .event__additional-info {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal; }
  .event__monster {
    flex-basis: 136px;
    flex-grow: 0; }

.promo {
  margin: 160px 0; }
  .promo .logo-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 36px 0; }
    .promo .logo-container img {
      max-width: 450px;
      width: 100%; }
